/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* General Styles*/
html,
body {
  height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	font-family: 'PT Sans', sans-serif;
}

a,
a:focus,
a:hover {
	color: #fff;
}

/* Header */
.header {
	margin-bottom: 2rem;
	background: #b6afa8;
}

.header .inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0px;
}

.header-brand {
  margin-bottom: 0;
  color: #333;
}

.nav-header .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-header .nav-link + .nav-link {
  margin-left: 1rem;
}

/* End Header */


/* Content */
.content {

}

.content .inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;

	padding: 8px 16px;
	background: #b6afa8;
	border-radius: 8px;
}

.content .title {

}

.content .text {
	margin-bottom: 0px !important;
}

.content .links {
	display: flex;
	flex-direction: row;
}

.content .links h4 {
	padding: .25rem 0;
	font-weight: normal;
	color: #333;
	background-color: transparent;
	border-bottom: .25rem solid transparent;
	text-decoration: underline;
}

.content .links a {
	padding: .25rem 0;
	font-weight: normal;
	color: #333;
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.content .links .basic-services {
	-ms-flex: 0 0 calc(100%/3);
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);

    display: flex;
    flex-direction: column;
}

.content .links .websites {
	-ms-flex: 0 0 calc(100%/3);
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);

    display: flex;
    flex-direction: column;
}

.content .links .mailserver {
	-ms-flex: 0 0 calc(100%/3);
    flex: 0 0 calc(100%/3);
    max-width: calc(100%/3);

    display: flex;
    flex-direction: column;
}

/* Footer */
.footer {
	background: #b6afa8;
}

.footer .inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0px;
}

.footer p {
	margin-bottom: 0px !important;
	color: #333;
}